body {
  margin: 0;
  font-family: Tahoma;
  background: linear-gradient(270deg,#12001f,#3b0764,#12001f);
  background-size: 400% 400%;
  animation: bg 15s infinite;
  color: white;
}

@keyframes bg {
  0%{background-position:0%}
  50%{background-position:100%}
  100%{background-position:0%}
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero-logo {
  width: 360px;
  filter: drop-shadow(0 0 30px #c084fc);
}

.glow-text {
  font-size: 3rem;
  text-shadow: 0 0 20px #d946ef;
}

.section {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.app-card {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: transform .4s;
}

.app-card:hover {
  transform: translateY(-10px) scale(1.02);
}

.logo-box {
  width: 90px;
  height: 90px;
  border: 2px dashed #d946ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #7c3aed;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 15px #a855f7;
}

footer {
  text-align: center;
  padding: 40px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #9333ea;
  color: white;
  margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
}

.modal-content {
  background: #2a0040;
  padding: 25px;
  margin: 15% auto;
  width: 300px;
  border-radius: 15px;
  text-align: center;
}

.music-control {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 28px;
  cursor: pointer;
}
.fade-up {
  opacity: 0;
  transform: translateY(40px);
}


#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background: #d946ef;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(10px);
}



.features {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 20px;
  max-width: 900px;
  margin: 50px auto;
}

.feature {
  background: rgba(255,255,255,0.07);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px transparent;
  transition: .4s;
}

.feature:hover {
  box-shadow: 0 0 20px #c084fc;
  transform: translateY(-8px);
}


.music-control {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  from { box-shadow: 0 0 10px #d946ef; }
  to { box-shadow: 0 0 25px #fff; }
}
